/* ----------
-- STYLES GLOGAUX --
---------- */

@font-face {
    font-family: "Open Sans";
    src: url("public/fonts/OpenSans-SemiBold.eot");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Skia";
    src: url("public/fonts/Skia-Regular.eot");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* ----------
-- STYLES POUR LES TEXTES --
---------- */

p {
    margin: 0;
    padding: 0;
}

#metrics {
    z-index: 200;
    position: fixed;
    top: 20px;
    left: 20px;
}

/* ----------
-- STYLES POUR LE JS --
---------- */

.no-scroll {
    overflow: hidden;
}

.d-none {
    display: none;
}

/* ----------
-- STYLES POUR LE LOADER --
---------- */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.preloader {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #996549;
}

.loader-text {
    margin-bottom: 4rem;
    color: white;
    font-size: 1.3rem;
    font-family: "Open Sans";
}

.dots .dot {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 7px 0 7px;
    border-radius: 50%;
    background: #fff;
    animation: dot-dot-dot 1.4s linear infinite;
    -webkit-animation: dot-dot-dot 1.4s linear infinite;
}

.dots .dot:nth-child(2) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.dots .dot:nth-child(3) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

@-webkit-keyframes dot-dot-dot {
    0%,
    60%,
    100% {
        transform: initial;
        -webkit-transform: initial;
        -ms-transform: initial;
    }
    30% {
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
    }
}

@keyframes dot-dot-dot {
    0%,
    60%,
    100% {
        transform: initial;
        -webkit-transform: initial;
        -ms-transform: initial;
    }
    30% {
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
    }
}

/* ----------
-- STYLES POUR LA HOMESCREEN --
---------- */

#homescreen {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("../img/menu-image-fond.png");
    background-position: center;
    background-size: cover;
}

#menu-wrapper {
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    #menu-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
    }
}

#menu-title {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    font-family: "skia";
}

#menu-description {
    color: white;
    font-family: "Skia";
}

#menu-description h2,
#menu-description h4 {
    font-weight: bold;
}

#menu-description p {
    margin-top: 1rem;
}

#menu-map img {
    max-width: 100%;
    max-height: 200px;
}

#homescreen_btn_wrapper {
    display: inline-block;
    border: 6px solid #ffffff;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

#homescreen_btn_wrapper:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

#homescreen_btn_wrapper:hover #homescreen_btn {
    margin: 0;
    padding: 1rem 2rem;
    outline: 0;
    background: #ffffff;
}

#homescreen_btn_wrapper:hover {
    border: 12px solid #ffffff;
    outline: 0;
}

#homescreen_btn {
    margin: 6px;
    padding: 1rem 2rem;
    border: none;
    outline: 0;
    color: #cf977d;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    font-family: "Skia";
    text-transform: uppercase;
    cursor: pointer;
    background: #ffffff;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

#homescreen_btn:hover {
    background: #ffffff;
    padding: 1rem 2rem;
    margin: 0;
    outline: 0;
}

/* ----------
-- STYLES POUR LA DIV SCROLLER --
---------- */

#scroller {
    height: 30000px;
}

/* ----------
-- STYLES POUR LA DIV SCREEN --
---------- */

#screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/* ----------
-- STYLES POUR LA MAP --
---------- */

#map {
    z-index: 99;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-image: url("../img/map.svg");
}

#map svg path {
    cursor: pointer;
    stroke: rgba(255, 255, 255, 0);
}

#map svg path:hover,
#map svg path:active {
    fill: rgba(255, 255, 255, 0.25);
}

/* ----------
-- STYLES POUR Les BOUTONS CONTROLS --
---------- */

.controls {
    z-index: 99;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.controls > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 1.25rem 0.75rem 0.75rem 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(250, 250, 250, 0.4);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.controls > div:hover {
    border: solid 0.125rem black;
}

.controls > div:active {
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.control img {
    width: 1.5rem;
    height: 1.5rem;
    color: black;
}

#information {
    background-color: black;
}

#information:hover {
    border: solid 0.125rem white;
}

#auto-play img#auto-play-on {
    margin-left: 3px;
}

.pulse {
    animation: pulse 2s;
    -webkit-animation: pulse 2s;
}

.pulse:hover,
.pulse:active {
    animation: none;
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/* ----------
-- STYLES POUR LA PAGE D'AIDE --
---------- */

#start-help {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 65%, rgba(255, 255, 255, 0.35) 100%);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.35) 65%,
        rgba(255, 255, 255, 0.35) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#start-help > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

#start-help span {
    box-sizing: border-box;
    width: 30px;
    height: 50px;
    margin-bottom: 1rem;
    border: 2px solid #fff;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
}

#start-help span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    border-radius: 100%;
    content: "";
    background-color: #fff;
    animation: mouse-animation 2s infinite;
    -webkit-animation: mouse-animation 2s infinite;
    -webkit-box-sizing: border-box;
}

#start-help p {
    color: white;
    font-size: 1.25rem;
    font-family: "Skia";
    text-align: center;
}

@-webkit-keyframes mouse-animation {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -webkit-transform: translate(0, 20px);
    }
    100% {
        opacity: 0;
    }
}
@keyframes mouse-animation {
    0% {
        opacity: 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        transform: translate(0, 20px);
        -webkit-transform: translate(0, 20px);
    }
    100% {
        opacity: 0;
    }
}

/* ----------
-- STYLES POUR LES PAGES SOURCES --
---------- */

.source {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3.25rem 2.5rem;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.source-content {
    max-width: 1200px;
}

.source-content .work {
    max-height: 50vh;
}

.source-content .work img {
    max-width: 60%;
    max-height: -webkit-fill-available;
    object-fit: contain;
}

.source-content .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 2rem;
}

.source-content .info-details {
    color: lightgray;
}

.source-content hr {
    width: 25%;
    margin: 3rem auto;
    color: white;
}

.source-content .biography {
    color: white;
}

.source-content .biography p {
    color: lightgray;
}

.source-content .link {
    margin: 1rem 0;
}

.close-source {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.close-source img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* ----------
-- STYLES POUR LES ZONES DE TEXTE --
---------- */

.adal-text {
    display: none;
    z-index: 10;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    max-width: calc(100vw - 14rem);
    padding: 1rem 2rem;
    border: 4px solid white;
    color: white;
    font-family: "Open Sans";
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

/* ----------
-- STYLES POUR SCENE 1 --
---------- */

#scene1plan1 {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#scene1plan2 {
    opacity: 0.5;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    transform: scaleY(0.5, 0.5);
    -webkit-transform: scaleY(0.5, 0.5);
    -ms-transform: scaleY(0.5, 0.5);
}

#scene1plan2-persos {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}
