/* ----------
-- STYLES POUR LE BODY --
---------- */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

/* ----------
-- STYLES POUR LES TEXTES --
---------- */

p {
    margin: 0;
    padding: 0;
}

#metrics {
    position: fixed;
    z-index: 200;
    top: 20px;
    left: 20px;
}
